.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.contentWrapper {
  display: flex;
  max-width: var(--max-width);
  margin: 20px auto;
  width: 100%;
  padding: 0 20px;
  gap: 20px;
}

.mainColumn {
  flex: 2;
  /* Takes about 66% width */
}

.sidebarColumn {
  flex: 1;
  /* Takes about 33% width */
}

@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
  }
}